.page.backup-mnemonic {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.page.backup-mnemonic h5 {
  margin: 0;
  margin-bottom: 8px;
  color: var(--font-color-desc);
}

.page.backup-mnemonic ul {
  padding: 0 4px;
  margin: 0 14px;
  margin-bottom: 24px;
  font-size: 13px;
  color: var(--font-color-desc);
}

.page.backup-mnemonic ul > li {
  margin-bottom: 8px;
}

.page.backup-mnemonic .content .privkey {
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 5px;

  -webkit-app-region: no-drag;
}

.page.backup-mnemonic .content .privkey span {
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: pre-line;
  user-select: text;
  display: inline-block;
  max-width: calc(100vw - 48px);
  filter: blur(5px);
  transition: all 0.3s;
}

.page.backup-mnemonic .content .privkey:hover span {
  filter: blur(0);
}

.page.backup-mnemonic .content .mobile-sync {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 16px;
}

.page.backup-mnemonic .content .mobile-sync canvas {
  filter: blur(5px);
  transition: all 0.3s;
}

.page.backup-mnemonic .content .mobile-sync canvas:hover {
  filter: blur(0);
}

.page.backup-mnemonic .content .mobile-sync .tips {
  margin-left: 12px;
}

.page.backup-mnemonic .content .mobile-sync p {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--font-color-title);
}
