.page.about {
  display: grid;
  grid-template-rows: auto 1fr;
}

.page.about > .content {
  color: var(--font-color-title);
}

.page.about > .content p:first-child {
  font-size: 15px;
  font-weight: 500;
  margin: 4px 0;
}

.page.about > .content h3 {
  margin-bottom: 0px;
}

.page.about > .content ul {
  padding: 0;
  font-size: 14px;
  color: var(--font-color-title);
}

.page.about > .content ul li {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.page.about > .content ul li svg {
  margin-right: 8px;
}

.page.about > .content > .data-providers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  margin-top: 16px;
  padding-left: 1px;
}

.page.about > .content > .data-providers img {
  width: 150px;
}

.page.about > .content > .copyright {
  font-size: 12px;
  margin-top: 8px;
}
