.page.welcome {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.page.welcome > .brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 24px;
}

.page.welcome > .brand > .logo {
  opacity: 0;
}

.page.welcome > .brand > .slogan {
  font-size: 10px;
  margin-top: -16px;
  color: rgb(160, 160, 160);
}

.page.welcome > .brand > .logo {
  font-weight: 500;
  font-size: 32px;
  font-family: 'Avenir Next', Arial, sans-serif;
  color: var(--theme-color);
  cursor: default;
}

.page.welcome > .actions > * {
  margin-top: 8px;
}
