div#app {
  display: grid;
  position: relative;
  overflow: hidden;
  /* background-color: deeppink; */
}

#app > .system-title-bar {
  position: fixed;
  z-index: 9999999999999;
  top: 12px;
  right: 12px;
}
