table.mnemonic,
table.mnemonic td {
  border: 1px solid var(--border-color);
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}

table.mnemonic td > div {
  padding: 8px 0;
  position: relative;
  cursor: pointer;
}

table.mnemonic td > div > .word {
  filter: blur(7px);
  transition: all 0.3s;
}

table.mnemonic td > div:hover .word {
  filter: blur(0);
}

table.mnemonic td > div > .no {
  position: absolute;
  left: 1px;
  top: 0;
  font-size: 7px;
  opacity: 0.35;
}
