.nav {
  display: flex;
  color: var(--font-color);
  align-items: center;
  padding-top: 10px;
  -webkit-app-region: drag;
}

.nav > button {
  padding: 0 !important;
}

.nav > button:hover {
  color: var(--theme-color-05) !important;
  background-color: transparent !important;
}

.nav > button svg {
  margin-left: -1px;
}

.nav > h3 {
  margin: 8px 0;
  margin-left: 8px;
}
