.network-label {
  display: flex;
  align-items: center !important;
  font-size: 12px;
  line-height: 12.5px;
  position: relative;
  pointer-events: none !important;
}

.network-label > .activeIndicator {
  position: absolute;
  left: 0;
  top: 4px;
  bottom: 4px;
  width: 2px;
  background-color: var(--theme-color);
}

.network-label > img {
  width: 12px;
  height: 12px;
  margin: 0 !important;
  margin-right: 4px !important;
  display: inline-block;
}

.network-label > span {
  display: inline-block;
}

.network-label.expand > img {
  margin-right: 8px !important;
}
