div.passcode-view {
  display: grid;
  grid-template-rows: auto 1fr;
  height: auto;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding-right: 3px;
}

div.passcode-view > div {
  margin-right: 2px;
}

div.passcode-view > p {
  font-size: 15px;
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-title);
}
