.pop-title {
  border-bottom: 1px solid var(--border-color);
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 19px;
}

.pop-title > .title {
  font-size: 19px;
  padding: 0;
  text-transform: capitalize;
  display: flex;
  color: rgb(21, 150, 255);
  align-items: center;
  overflow: hidden;
  max-width: 70vw;
}

.pop-title > .title span {
  margin-left: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pop-title > .network {
  font-size: 19px;
  display: flex;
  align-items: center;
}

.pop-title > .network > img {
  margin-right: 4px;
  width: 19px;
  height: 19px;
}
