div.touchid-view {
  display: grid;
  grid-template-rows: auto 1fr;
  outline: none;
  margin-top: 0;
  box-sizing: border-box;
}

div.touchid-view > p {
  font-size: 15px;
  margin: 0;
  margin-bottom: 16px;
  color: var(--font-color-title);
  text-align: center;
}

div.touchid-view img {
  width: 81px;
  display: inline-block;
  cursor: pointer;
}

div.touchid-view > div {
  transition: all 0.3s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div.touchid-view > div:hover {
  opacity: 0.5;
}
