.page.confirm {
  display: grid;
  grid-template-rows: auto 1fr;
}

.page.confirm > .container {
  position: relative;
  display: grid;
  overflow: hidden;
}

.page.confirm > .container > .details {
  display: grid;
  grid-template-rows: 1fr auto;
  padding-top: 10px;
  max-height: calc(100vh - 24px - 46px); /* exactly 51px: (36+12) + 12*2 */
}

.page.confirm > .container > .details > .form > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
  border-bottom: 1px dashed var(--border-color);
  font-size: 15px;
  line-height: 17px;
  font-weight: 300;
}

.page.confirm > .container > .details > .form > div.attention {
  font-size: 12px;
  font-weight: 500;
  color: var(--font-color-title);
  padding-bottom: 8px;
}

.page.confirm > .container > .details > .form span.spender {
  cursor: pointer;
}

.page.confirm > .container > .details > .form div.funds-limit {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.page.confirm > .container > .details > .form div.funds-limit > img {
  width: 14px;
  height: 14px;
}

.page.confirm > .container > .details > .form div.amount img {
  width: 14px;
  height: 14px;
  margin-bottom: -1px;
}

.page.confirm > .container > .details > .form input.funds-limit {
  max-width: 45vw;
  text-align: end;
  min-width: 32vw;
  -webkit-app-region: no-drag;
}

.page.confirm > .container > .details > .form input.funds-limit.max {
  color: deeppink;
}

.page.confirm > .container > .details > .form > div span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 45vw;
}

.page.confirm > .container > .details > .form > div div.numeric {
  display: grid;
  grid-template-columns: 1fr auto;
}

.page.confirm > .container > .details > .form > div.to > span:last-child {
  cursor: pointer;
}

.page.confirm > .container > .details > .form > div span > svg {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 2px;
  opacity: 0.25;
}

.page.confirm > .container > .details > .form > div span.verified {
  color: dodgerblue;
  font-weight: 500;
}

.page.confirm > .container > .details > .form > div span.verified > svg {
  margin-left: 5px;
  opacity: 1;
}

.page.confirm > .container > .details > .form > div img {
  width: 12px;
  margin: 0 2px;
}

.page.confirm > .container > .details > .form > div img.dapp-icon {
  margin-right: 4px;
}

.page.confirm > .container > .details > .form > div > div {
  display: flex;
  align-items: flex-end;
}

.page.confirm > .container > .details > .form input {
  padding: 0;
  margin: 0 0px;
  margin-bottom: -1px;
  width: 72px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 100;
  text-align: end;
  -webkit-app-region: no-drag;
}

.page.confirm > .container > .details > .form > div > div span {
  margin-left: 4px;
}

.page.confirm > .container > .details > .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  z-index: 2;
}

.page.confirm > .container > .auth {
  position: absolute;
  opacity: 0;
}
