.page.connectdapp {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page.connectdapp > .content {
  display: grid;
  grid-template-rows: auto 1fr;
}

.page.connectdapp > .content > .appinfo {
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: -24px;
  color: var(--font-color-title);
  pointer-events: none;
}

.page.connectdapp > .content > .appinfo > * {
  margin-bottom: 4px;
  max-width: 70vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page.connectdapp > .content > .appinfo > .desc {
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: unset;
  line-height: 1.5em;
  max-height: 3em;
}

.page.connectdapp > .content > .appinfo > img {
  width: 48px;
  height: 48px;
  border: none;
  margin-bottom: 12px;
}

.page.connectdapp > .content > div.networks {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.page.connectdapp > .content > div.networks > button {
  width: auto;
  padding: 4px 8px;
}

.page.connectdapp > .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}
