.page.messagebox {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page.messagebox > .content {
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 13.5px;
  line-height: 19px;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft Yahei', 'Segoe UI', Arial, sans-serif;
  color: var(--font-color-title);
}

.page.messagebox > .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  z-index: 2;
}
