.page.dapp {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page.dapp > .form > div {
  display: flex;
  justify-content: space-between;
  color: var(--font-color-title);
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 15px;
  align-items: center;
}

.page.dapp > .form > .app-item {
  overflow: hidden;
}

.page.dapp > .form > div:first-child {
  margin-bottom: 12px;
  align-items: center;
  padding-bottom: 1px;
}

.page.dapp > .form > div:first-child > div {
  display: flex;
  align-items: center;
}

.page.dapp > .form > div:first-child svg {
  margin: 2px 4px 0 0;
}

.page.dapp > .form > div .menu-button {
  width: auto;
  padding: 4px 8px;
}

.page.dapp > .form > h3 {
  margin-bottom: 8px;
}

.page.dapp > .form > div > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 45vw;
}

.page.dapp > .form > div > span.url {
  cursor: pointer;
}

.page.dapp > .form > div > span > img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-bottom: -1px;
}
