.page.dapp {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page.dapp > .form {
  overflow: hidden;
}

.page.dapp > .form > div {
  display: flex;
  justify-content: space-between;
  color: var(--font-color-title);
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 4px;
  font-size: 14px;
}

.page.dapp > .form > div > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50vw;
}

.page.dapp > .form > div > span.url {
  cursor: pointer;
}

.page.dapp > .form > div > span > img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-bottom: -1px;
}
