.page.dapps123 {
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: calc(100vh - 24px - 49px); /* 1px border height + 48px tabs height */
}

.page.dapps123 > .utility-bar {
  margin-top: -5px;
}

.page.dapps123 > .list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  margin: 0 -12px;
  padding: 0 12px;
}

.page.dapps123 > .list > .category {
  margin-bottom: 24px;
}

.page.dapps123 > .list > .category:last-child {
  margin-bottom: 8px;
}

.page.dapps123 > .list > .category > h3 {
  font-size: 12px;
  line-height: 12.5px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 400;
  opacity: 0.85;
  color: var(--font-color-title);
}

.page.dapps123 > .list > .category > .projects {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0 12px;
  transition: all 0.3s;
}

.page.dapps123 > .list > .category > .projects > .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--font-color-title);
  cursor: pointer;
  transition: all 0.3s;
  width: calc(100vw / 2 - 12px - 6px);
  padding: 8px 0;
  padding-bottom: 7px;
  border-radius: 5px;
  -webkit-app-region: no-drag;
}

#root.win32 .page.dapps123 > .list > .category > .projects > .project {
  width: calc(100vw / 2 - 12px - 6px - 4px);
}

.page.dapps123 > .list > .category > .projects > .project img {
  height: 25px;
  max-width: 80%;
}

.page.dapps123 > .list > .category > .projects > .project span {
  opacity: 1;
  margin-top: 2px;
  transition: all 0.3s;
}

.page.dapps123 > .list > .category > .projects > .project:hover {
  background-color: var(--border-color);
}

.page.dapps123 > .list > .empty {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--font-color-title);
  height: 100%;
}
