.page.history {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 0;
}

.page.history > .content {
  width: 100%;
  margin: 0 -12px;
}

.page.history > .content.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12.5px;
  color: var(--font-color-title);
}

.page.history > .content.empty > span {
  margin-top: -10vh;
  margin-right: -7vw;
}

.page.history .tx {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 14px;
  line-height: 15px;
  width: calc(100vw - 24px) !important;
  padding: 4px 12px;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

.page.history .tx > img {
  width: 12px;
  height: 12px;
  margin-top: 5px;
  margin-right: 8px;
}

.page.history .tx .info {
  display: grid;
  grid-template-rows: auto auto;
}

.page.history .tx:hover {
  opacity: 0.7;
}

.page.history .tx .info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.page.history .tx .info > div:last-child {
  border-bottom: 1px dashed var(--border-color);
}

.page.history .tx .info > div span {
  max-width: 60vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page.history .tx .info .method {
  font-weight: 600;
}

.page.history .tx .info .status {
  border: none;
  font-size: 11px;
  line-height: 11px;
  border-radius: 5px;
  padding: 3px 8px;
  color: white;
  text-transform: capitalize;
}

.page.history .tx .info .pending {
  background-color: deepskyblue;
}

.page.history .tx .info .confirmed {
  background-color: #2ecc71;
}

.page.history .tx .info .failed {
  background-color: red;
}
