.page.main {
  padding-top: 10px;
}

.page.main > .utility-bar {
  display: flex;
  justify-content: flex-end;
}

.page.main h3.title {
  font-size: 14px;
  color: var(--font-color-title);
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 400;
}

.page.main > .net-worth > .value {
  font-size: 30px;
  font-weight: 500;
}

.page.main > .net-worth > .asset-percent > .value {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: var(--font-color-title);
}

.page.main > .wallet-actions {
  display: grid;
  margin-top: 12px;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.page.main > .wallet-actions button {
  padding: 4px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.main > .wallet-actions button > span {
  display: inline-block;
  margin: 0 8px;
}

.page.main > .assets {
  margin-top: 12px;
}

.page.main > .assets > table {
  margin-top: 8px;
}

.page.main > .assets > table td {
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.page.main > .assets > table td:hover {
  color: var(--theme-color-05);
}

.page.main > .assets > table td > div {
  overflow: hidden;
  font-size: 14px;
  display: grid;
  column-gap: 4px;
  padding: 4px 0;
  grid-template-columns: auto auto 1fr auto;
  margin-bottom: 6px;
}

.page.main > .assets > table td > div > img {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 2px;
}

.page.main > .assets > table td:first-child div {
  margin-right: 8px;
}

.page.main > .assets > table td:last-child div {
  margin-left: 8px;
}
