.page.pending-tx {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page.pending-tx > .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.page.pending-tx > .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.pending-tx > .actions button > span {
  display: inline-block;
  margin: 0 4px;
}
