.page.pending-tx {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page.pending-tx > .form {
  overflow: hidden;
}

.page.pending-tx > .form > div {
  display: flex;
  justify-content: space-between;
  color: var(--font-color-title);
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 4px;
  font-size: 14px;
}

.page.pending-tx > .form > div > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50vw;
}

.page.pending-tx > .form > div > span > img {
  width: 14px;
  height: 14px;
  margin-right: 2px;
  margin-bottom: -1px;
}

.page.pending-tx > .form > div > span.link {
  cursor: pointer;
  font-size: 12px;
}

.page.pending-tx > .form > div.data {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page.pending-tx > .form > div.data span:last-child {
  max-width: calc(100vw - 24px);
  max-height: 127px;
  margin-top: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page.pending-tx > .form > div:last-child {
  border: none;
}

.page.pending-tx > .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.page.pending-tx > .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.pending-tx > .actions button > span {
  display: inline-block;
  margin: 0 4px;
}
