.page.settings {
  padding: 0;
  padding-top: 21px;
}

.page.settings > div {
  margin-bottom: 8px;
}

.page.settings > .drop-menu .title {
  color: var(--font-color-title);
  font-size: 12px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.page.settings > .accounts > .actions {
  font-size: 12px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.page.settings > .accounts > .actions > .menu-button {
  padding: 4px 5px;
  padding-left: 7px;
  padding-bottom: 3px;
  font-size: 12px;
  line-height: 12px;
  margin-top: -5px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  max-width: 50vw;
  color: var(--font-color-title);
}

.page.settings > .accounts > .actions .rc-menu__item button > div {
  display: grid;
  align-items: center;
  grid-template-columns: 13px 1fr;
  column-gap: 8px;
  font-size: 12px;
  line-height: 12px;
}

.page.settings > .accounts > .actions .rc-menu__item button > div.active {
  color: var(--theme-color);
}

.page.settings > .accounts > .actions .rc-menu__item button > div svg {
  width: 13px;
  height: 13px;
}

.page.settings > .accounts > .actions .rc-menu__item button > div span {
  text-align: start;
}

.page.settings > .accounts > .actions > .gen-account {
  cursor: pointer;
  font-size: 12px;
  color: var(--font-color-title);
}

.page.settings > .drop-menu.accounts {
  margin-bottom: 16px;
  -webkit-app-region: no-drag;
}

.page.settings > .drop-menu.accounts * {
  -webkit-app-region: no-drag;
}

.page.settings > .setting-item {
  display: grid;
  grid-template-columns: 29px 1fr auto;
  font-size: 15px;
  color: var(--font-color-title);
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 1px dashed var(--border-color);
  transition: all 0.3s;
  margin-bottom: 12px;
  line-height: 15px;
  -webkit-app-region: no-drag;
}

.page.settings > .setting-item > svg {
  margin-bottom: -1px;
}

.page.settings > .setting-item.click {
  cursor: pointer;
}

.page.settings > .setting-item.click:hover {
  opacity: 0.75;
}

.page.settings > .setting-item > .menu-button {
  padding: 4px 6px;
  margin-bottom: -3px;
}

.page.settings > .setting-item > .menu-button > .display-currency > span {
  /* margin-bottom: -1px; */
}
