.page.settings {
  padding: 0;
  padding-top: 21px;
}

.page.settings > div {
  margin-bottom: 8px;
}

.page.settings > .drop-menu .title {
  color: var(--font-color-title);
  font-size: 12px;
  margin-bottom: 6px;
}

.page.settings > .accounts > .actions {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.page.settings > .accounts > .actions > .gen-account {
  cursor: pointer;
  font-size: 10px;
  margin-top: 1px;
  color: var(--font-color-title);
}

.page.settings > .drop-menu.langs {
  margin-bottom: 24px;
}

.page.settings > .setting-item {
  display: grid;
  grid-template-columns: 29px 1fr auto;
  font-size: 17px;
  color: var(--font-color-title);
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 1px dashed var(--border-color);
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 12px;
}

.page.settings > .setting-item:hover {
  opacity: 0.75;
}
