.page.settings {
  padding: 0;
  padding-top: 21px;
}

.page.settings > div {
  margin-bottom: 8px;
}

.page.settings > .drop-menu .title {
  color: var(--font-color-title);
  font-size: 12px;
  margin-bottom: 6px;
}

.page.settings > .accounts > .actions {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.page.settings > .accounts > .actions > .gen-account {
  cursor: pointer;
  font-size: 12px;
  color: var(--font-color-title);
}

.page.settings > .drop-menu.accounts {
  margin-bottom: 16px;
}

.page.settings > .setting-item {
  display: grid;
  grid-template-columns: 29px 1fr auto;
  font-size: 15px;
  color: var(--font-color-title);
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 1px dashed var(--border-color);
  transition: all 0.3s;
  margin-bottom: 12px;
}

.page.settings > .setting-item > svg {
  margin-bottom: -1px;
}

.page.settings > .setting-item.click {
  cursor: pointer;
}

.page.settings > .setting-item.click:hover {
  opacity: 0.75;
}

.page.settings > .setting-item > .menu-button {
  padding: 4px 6px;
  margin-bottom: -3px;
}

.page.settings > .setting-item > .menu-button > .display-currency > span {
  /* margin-bottom: -1px; */
}
