.page.swap {
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
}

.page.swap > .utility-bar {
  margin-top: -5px;
}

.page.swap > .swap-container {
  padding-top: 15px;
  border-radius: 5px;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.page.swap > .swap-container input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  font-weight: 450;
  font-family: 'Inter var', sans-serif;
}

.page.swap > .swap-container .swap {
  display: flex;
  flex-direction: column;
}

.page.swap > .swap-container .swap .max {
  display: flex;
  font-size: 10px;
  margin-bottom: -18px;
  padding: 0 14px;
  box-sizing: border-box;
}

.page.swap > .swap-container .swap .max span {
  cursor: pointer;
}

.page.swap > .swap-container .swap .swapbox {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 8px;
  border-radius: 7px;
  border: 1px solid var(--border-color);
  padding: 6px 10px;
  box-sizing: border-box;
}

.page.swap > .swap-container .swap .swapbox.from {
  padding-top: 20px;
}

.page.swap > .swap-container .swap .arrow {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.page.swap > .swap-container .swap .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 12px;
  font-size: 12px;
  margin-top: 4px;
}

.page.swap > .swap-container .swap .info .slippages span {
  padding: 2px 5px;
  padding-top: 3px;
  color: dimgrey;
  cursor: pointer;
  transition: all 0.3s;
}

.page.swap > .swap-container .swap .info .slippages span.active {
  background-color: lightskyblue;
  border-radius: 3px;
  color: white;
}

.page.swap .token-label {
  font-size: 16px;
}

.page.swap .token-label img {
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-right: 5px;
}
