.page.nft {
  display: grid;
  grid-template-rows: auto 1fr;
}

.page.nft > .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 12px;
  color: white !important;
  z-index: 9;
}

.page.nft > .nav button {
  color: white;
}

.page.nft > .content {
  display: grid;
  grid-template-rows: 1fr auto;
}

.page.nft > .content > .nft {
  display: grid;
  max-width: calc(100vw - 24px);
  grid-template-rows: auto 1fr;
  row-gap: 12px;
  font-size: 12.5px;
  color: var(--font-color-title);
}

.page.nft > .content > .nft img {
  width: 100vw;
  margin: 0 -12px;
  margin-top: -60px;
  position: sticky;
}

.page.nft > .content > .nft > .details {
  width: calc(100vw - 24px);
  overflow: hidden;
}

.page.nft > .content > .nft > .details .name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

.page.nft > .content > .nft > .details .desc {
  font-size: 12.5px;
  margin-bottom: 8px;
}

.page.nft > .content > .transfer > .to {
  position: relative;
  height: 35px;
  font-size: 15px;
  z-index: 5;
}

.page.nft > .content > .transfer > .to > span {
  position: absolute;
  bottom: 9px;
  width: 62px;
  text-align: end;
  opacity: 0.3;
}

.page.nft > .content > .transfer > .to > svg {
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #d0d0d0;
}

.page.nft > .content > .transfer > .to div {
  height: auto;
  min-height: 0;
}

.page.nft > .content > .transfer > .to div.line {
  display: none;
}

.page.nft > .content > .transfer > .to > div .wrapper {
  background-color: transparent;
}

.page.nft > .content > .transfer > .to ul {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-top: none;
  padding-bottom: 0;
}
