.page.send {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page.send > .form {
  position: relative;
  line-height: 15px;
}

.page.send > .form > .to {
  position: relative;
  height: 35px;
  font-size: 15px;
  z-index: 5;
}

.page.send > .form > .to > span {
  position: absolute;
  bottom: 9px;
  width: 62px;
  text-align: end;
  opacity: 0.3;
}

.page.send > .form > .to > svg {
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #d0d0d0;
  z-index: -1;
}

.page.send > .form > .to div {
  height: auto;
  min-height: 0;
}

.page.send > .form > .to div.line {
  display: none;
}

.page.send > .form > .to > div .wrapper {
  background-color: transparent;
}

.page.send > .form > .to ul {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-top: none;
  padding-bottom: 0;
}

.page.send > .form > .ens-resolve {
  display: flex;
  justify-content: flex-end;
  font-size: 8px !important;
  position: fixed;
  right: 12px;
  margin-top: -4px;
  opacity: 0.3;
}

.page.send > .form input {
  width: 100%;
  box-sizing: border-box;
  background: none;
  padding: 8px 22px 1.5px 72px;
  border: none;
  outline: none;
  color: rgb(53, 53, 53);
  font-weight: 500;
  border-bottom: 1px dashed var(--border-color);
  outline: none;
  font-size: 16px;
}

.page.send > .form ::placeholder {
  color: #d0d0d0;
}

.page.send > .form > .amount {
  position: relative;
  margin-top: 8px;
}

.page.send > .form > .amount span {
  position: absolute;
}

.page.send > .form > .amount > span:first-child {
  left: 0;
  width: 62px;
  bottom: 4px;
  text-align: end;
  opacity: 0.3;
}

.page.send > .form > .amount > span:last-child {
  right: 0;
  bottom: 3px;
  color: #d0d0d0;
}

.page.send > .form > .tokens {
  margin-top: 1px;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  -webkit-app-region: no-drag;
}

.page.send > .form > .tokens > .balance {
  cursor: pointer;
  margin: 2px 8px;
  -webkit-app-region: no-drag;
}

.page.send > .form > .tokens > .menu-button {
  padding: 2px 5px;
}

.page.send > .form > .gasprice-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page.send > .form > .gasprice-title h6 {
  margin: 12px 0 4px 0;
  color: var(--font-color-title);
}

.page.send > .form > .gas {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
  column-gap: 4px;
  padding: 8px;
  border: 1px dashed var(--border-color);
  border-radius: 5px;
}

.page.send > .form > .gas > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.25;
  transition: all 0.3s;
  -webkit-app-region: no-drag;
}

.page.send > .form > .gas > div:hover {
  opacity: 1;
}

.page.send > .form > .gas > .separator {
  width: 1px;
  background: var(--border-color);
  opacity: 1;
  height: 100%;
}

.page.send > .form > .gas > div > span:first-child {
  margin-bottom: 8px;
  font-size: 12px;
}

.page.send > .form > .gas > div > span:last-child {
  font-weight: 500;
}

.page.send > .form > .gas > div input {
  width: 64px;
  height: auto;
  font-size: 15px;
  padding: 0px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.page.send > .form > .gas > div.active {
  opacity: 1;
}
