.page.nft {
  display: grid;
  grid-template-rows: auto 1fr;
  color: var(--font-color-title);
}

.page.nft > .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 12px;
  color: white !important;
  z-index: 9;
}

.page.nft > .nav button {
  color: white;
}

.page.nft > .content {
  display: grid;
  grid-template-rows: 1fr auto;
}

.page.nft > .content > .nft {
  display: grid;
  max-width: calc(100vw - 24px);
  grid-template-rows: auto 1fr;
  row-gap: 12px;
  font-size: 12.5px;
}

.page.nft > .content > .nft img {
  width: 100vw;
  margin: 0 -12px;
  margin-top: -60px;
  position: sticky;
}

.page.nft > .content > .nft > .details {
  width: calc(100vw - 24px);
  overflow: hidden;
}

.page.nft > .content > .nft > .details .name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

.page.nft > .content > .nft > .details .desc {
  font-size: 12.5px;
  margin-bottom: 8px;
}

.page.nft > .content > .transfer > h4 {
  margin-bottom: 8px;
  opacity: 0.75;
}

.page.nft > .content > .transfer > .to {
  position: relative;
  display: flex;
  font-size: 15px;
  line-height: 14px;
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 12px;
}

.page.nft > .content > .transfer > .to > span {
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}

.page.nft > .content > .transfer > .to > svg {
  position: absolute;
  right: 0;
  color: #d0d0d0;
}

.page.nft > .content > .transfer > .to input {
  font-size: 15px;
  border: none;
  min-width: 80vw;
  box-sizing: border-box;
  outline: none;
  background: none;
  margin-left: 8px;
  padding-right: 19px;
}
