.page.tokens {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: transparent;
  max-height: 100vh;
  padding-bottom: 0px;
}

.page.tokens > .line-1 {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.page.tokens > .line-1 a {
  color: var(--font-color);
  opacity: 0.5;
  transition: all 0.3s;
}

.page.tokens > .line-1 a:hover {
  opacity: 1;
}

.page.tokens > .content {
  overflow: auto;
  scrollbar-color: dark;
  margin: 0 -12px;
  -webkit-app-region: no-drag;
}

.page.tokens > .content .tokens .token {
  display: grid;
  grid-template-columns: 32px 1fr 42px;
  padding: 4px 12px;
  align-items: center;
  outline: none;
}

.page.tokens > .content .tokens .token.even {
  background-color: rgba(33, 36, 83, 0.025);
}

.page.tokens > .content .tokens .token > img {
  width: 18px;
  height: 18px;
}

.page.tokens > .content .tokens .token > .desc {
  font-size: 14px;
}

.page.tokens > .content .tokens .token > .desc > .amount {
  font-size: 12px;
  color: var(--font-color-title);
}

/* Fix toggle-component not working */
.page.tokens > .content .tokens .token.off > .react-toggle input[type='checkbox'] + label:after {
  margin-left: calc(4px);
  background-color: lightgrey;
}

.page.tokens > .content .tokens .token.off > .react-toggle input[type='checkbox'] + label {
  background-color: lightgrey;
}

.page.tokens > .content .tokens .token.show-line {
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 8px;
}
