.page.tokens {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: transparent;
  -webkit-app-region: no-drag !important;
}

.page.tokens > .content .tokens .token {
  padding: 5px 0;
}
