.page.main {
  padding: 0;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
}

.page.main > .utility-bar {
  display: flex;
  justify-content: flex-end;
  column-gap: 2px;
  margin-top: -5px;
}

.page.main > .utility-bar > button {
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
}

.page.main > .utility-bar > button:hover {
  background-color: transparent;
}

.page.main > .utility-bar > button.menu-button {
  padding: 5px 6px;
}

.page.main > .utility-bar > button.menu-button:hover {
  color: var(--theme-color);
  background-color: var(--border-color);
}

.page.main > .utility-bar > button.icon-button {
  color: var(--theme-color);
  margin-right: -2px;
  padding: 0 6px !important;
}

.page.main h3.title {
  font-size: 12px;
  color: var(--font-color-title);
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 400;
}

.page.main > .net-worth {
  height: 79px;
}

.page.main > .net-worth > .value {
  font-size: 30px;
  font-weight: 500;
}

.page.main > .net-worth > .value > span {
  width: 100%;
}

.page.main > .net-worth > .asset-percent {
  font-size: 11px;
  padding-right: 1px;
  color: var(--font-color-title);
}

.page.main > .net-worth > .asset-percent #hsbar {
  border-radius: 4px;
}

.page.main > .net-worth > .asset-percent #hsbar_text > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page.main > .wallet-actions {
  display: grid;
  margin-top: 12px;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.page.main > .wallet-actions > button {
  padding: 4px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.main > .wallet-actions > .button {
  padding: 4px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.main > .wallet-actions > button > span {
  display: inline-block;
  margin: 0 8px;
}

.page.main > .wallet-actions > .button > span {
  display: inline-block;
  margin: 0 8px;
}

.page.main .nav-title {
  display: flex;
  justify-content: space-between;
}

.page.main .nav-title > a {
  color: var(--font-color);
  opacity: 0.5;
  transition: all 0.3s;
}

.page.main .nav-title > a:hover {
  opacity: 1;
}

.page.main .nav-title > a h3 {
  opacity: 0.5;
  transition: all 0.3s;
}

.page.main .nav-title > a h3:hover {
  opacity: 1;
}

.page.main > .assets {
  margin: 12px 0;
  margin-bottom: 4px;
  height: 209px;
}

.page.main > .assets > table {
  margin: 0 -12px;
  margin-top: 4px;
  width: 100vw;
}

.page.main > .assets > table td {
  border: none;
  padding: 0 5px;
}

/* skeleton loading */
.page.main > .assets > table td > span {
  width: 100%;
  padding: 4px 4px;
  margin-bottom: 2px;
  display: inline-block;
  box-sizing: border-box;
  min-height: 20px;
}

.page.main > .assets > table td .button {
  border: none;
  padding: 2px 7px;
  padding-bottom: 1px;
  margin-bottom: 2px;
}

.page.main > .assets > table td .button:hover {
  background-color: var(--border-color);
  color: var(--theme-color);
}

.page.main > .assets > table td > .button > div {
  overflow: hidden;
  font-size: 13px;
  font-weight: 450;
  display: grid;
  column-gap: 4px;
  padding: 4px 0;
  grid-template-columns: auto auto 1fr auto;
}

.page.main > .assets > table td > .button > div > img {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 2px;
}

.page.main > .assets > table td > .button > div > .amount {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page.main > .assets > table td:first-child {
  padding-right: 0px;
}

.page.main > .assets > table td:last-child {
  padding-left: 0px;
}

.page.main > .nfts {
  display: grid;
  grid-template-rows: auto 1fr;
}

.page.main > .nfts > .tokens {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--font-color-title);
}

.page.main > .nfts > .tokens.empty {
  justify-content: center;
  opacity: 0.5;
}