.page.main {
  padding: 0;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}

.page.main > .utility-bar {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-template-rows: auto;
  justify-content: flex-end;
  column-gap: 4px;
  margin-top: -5px;
}

.page.main > .utility-bar > button {
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
}

.page.main > .utility-bar > button:hover {
  background-color: transparent;
}

.page.main > .utility-bar > button.menu-button {
  font-weight: 500;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
}

.page.main > .utility-bar > button.menu-button:hover {
  color: var(--font-color);
  background-color: var(--border-color);
}

.page.main > .utility-bar > button.icon-button {
  color: var(--theme-color);
  margin-right: -2px;
}

/* .page.main > .utility-bar > button.icon-button:hover {
  color: var(--theme-color-05);
  opacity: 0.85;
} */

.page.main h3.title {
  font-size: 12px;
  color: var(--font-color-title);
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 400;
}

.page.main > .net-worth > .value {
  font-size: 30px;
  font-weight: 500;
}

.page.main > .net-worth > .asset-percent {
  font-size: 11px;
  color: var(--font-color-title);
}

.page.main > .wallet-actions {
  display: grid;
  margin-top: 12px;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.page.main > .wallet-actions button {
  padding: 4px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.main > .wallet-actions button > span {
  display: inline-block;
  margin: 0 8px;
}

.page.main > .assets {
  margin-top: 12px;
}

.page.main > .assets > table {
  margin-top: 8px;
}

.page.main > .assets > table td {
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.page.main > .assets > table td:hover {
  color: var(--theme-color-05);
}

.page.main > .assets > table td > div {
  overflow: hidden;
  font-size: 14px;
  display: grid;
  column-gap: 4px;
  padding: 4px 0;
  grid-template-columns: auto auto 1fr auto;
  margin-bottom: 6px;
}

.page.main > .assets > table td > div > img {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 2px;
}

.page.main > .assets > table td:first-child div {
  margin-right: 8px;
}

.page.main > .assets > table td:last-child div {
  margin-left: 8px;
}
