.connectedapp-label {
  display: grid;
  grid-template-columns: 22px 1fr;
  column-gap: 4px;
  align-items: flex-start;
  font-size: 13px;
  width: 100%;
}

.connectedapp-label > .dapp-logo {
  position: relative;
}

.connectedapp-label > .dapp-logo > img.appicon {
  width: 15px;
  height: 15px;
  margin-top: -1px;
}

.connectedapp-label > .dapp-logo > img.network {
  position: absolute;
  right: 1px;
  top: -2px;
  width: 7px;
  height: 7px;
}

.connectedapp-label > .info .basic {
  display: flex;
  justify-content: space-between;
}

.connectedapp-label > .info .basic span {
  max-width: 45vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 14px;
}

.connectedapp-label > .info > .extra {
  display: flex;
  margin-top: 2px;
  justify-content: space-between;
  font-size: 10px;
  opacity: 0.5;
}
