.display-currency {
  /* display: grid; */
  position: relative;
  display: flex;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-size: 14px;
  column-gap: 6px;
  line-height: 1rem;
}

.display-currency > span {
  margin-bottom: -2px;
}

.display-currency.mini {
  font-size: 12px;
  line-height: 12px;
}

.display-currency.mini > span {
  margin-bottom: 0px;
}

.display-currency > img {
  width: 14px;
  height: 14px;
}

.display-currency.mini > img {
  width: 12px;
  height: 12px;
}
