.network-label {
  display: flex;
  align-items: center !important;
  font-size: 12px;
}

.network-label > img {
  width: 12px !important;
  height: 12px !important;
  margin: 0 !important;
  margin-right: 4px !important;
  display: inline-block;
}

.network-label > span {
  display: inline-block;
}

.network-label.expand > img {
  margin-right: 8px !important;
}
