.pendingtx-indicator {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
}

.pendingtx-indicator > span.count {
  font-weight: 500;
  margin-right: 5px;
}

.pendingtx-indicator > svg {
  margin: 0;
  margin-top: -1px;
  margin-right: 1px;
}
