.utility-bar {
  display: flex;
  justify-content: flex-end;
  column-gap: 2px;
  height: 26px;
}

.utility-bar > button {
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
}

.utility-bar > button:hover {
  background-color: transparent;
}

.utility-bar > button.menu-button {
  padding: 5px 6px;
}

.utility-bar > button.menu-button:hover {
  color: var(--theme-color);
  background-color: var(--border-color);
}

.utility-bar > button.icon-button {
  color: var(--theme-color);
  margin-right: -2px;
  padding: 0 6px !important;
}

.utility-bar > button.walletconnect {
  margin-right: 2px;
}

.utility-bar .profile-item {
  display: flex;
  align-items: center;
  line-height: 12.5px;
  font-size: 12px;
}

.utility-bar .profile-item svg {
  margin-right: 8px;
}