.walletconnect-indicator {
  display: flex;
  align-items: center;
}

.walletconnect-indicator.connecting {
  animation: connecting;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes connecting {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
