html {
  --theme-color: #6186ff;
  --theme-color-05: rgba(97, 134, 255, 0.75);
  --font-color: #333;
  --font-color-title: #657795;
  --font-color-desc: rgb(42, 134, 219);
  --border-color: #dfe8f9;
  --background-color: aliceblue;
  background-color: var(--background-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft Yahei', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
}

#root {
  display: grid;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

#root.darwin {
  -webkit-app-region: drag;
}

* {
  user-select: none;
}

*.button {
  transition: all 0.3s;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.menu-button,
.rc-menu__item,
.react-toggle,
img {
  -webkit-app-region: no-drag;
}

.rc-menu__item > button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  overflow: visible;
  font-weight: 450;
  padding: 8px 12px;
}

.rc-menu__item > button:hover {
  background-color: transparent;
  color: var(--font-color);
}

.rc-menu {
  /* background-color: transparent !important;
  backdrop-filter: blur(20px); */
  -webkit-app-region: no-drag !important;
  z-index: 99999999;
}

.rc-menu__item--hover {
  /* background-color: #00000010 !important; */
  -webkit-app-region: no-drag;
}

.rc-menu__divider {
  backdrop-filter: blur(5px);
}

textarea,
input {
  -webkit-app-region: no-drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.padding {
  width: 100%;
  height: 100%;
}

span {
  display: inline-block;
}

.page {
  box-sizing: border-box;
  padding: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

button,
a.button {
  -webkit-app-region: no-drag;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  border: 1px solid var(--border-color);
  color: var(--font-color);
  text-align: center;
  background: none;
  width: 100%;
  font-size: 16px;
  padding: 8px 16px;
  padding-bottom: 6px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Segoe UI', 'Avenir Next', Arial, sans-serif;
}

#root.darwin button {
  font-family: 'Avenir Next', Arial, sans-serif;
}

button.positive {
  border-color: deepskyblue;
  background-color: deepskyblue;
  color: white;
}

a {
  text-decoration: none;
  -webkit-app-region: no-drag;
}

button:hover,
a.button:hover {
  color: white;
  background-color: var(--theme-color-05);
  border-color: transparent;
}

button:active,
a.button:active {
  background-color: black;
}

button:disabled,
a.button.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--border-color);
  background-color: transparent;
  border-color: var(--border-color);
}

button.icon-button {
  border: none;
  width: auto;
  height: auto;
  padding: 0 4px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button.icon-button:hover {
  background-color: var(--border-color) !important;
}

button.icon-button:active {
  color: black;
}

button.menu-button {
  font-weight: 500;
  cursor: pointer !important;
  border: none;
  border-radius: 5px;
}

button.menu-button:hover {
  color: var(--theme-color);
  background-color: var(--border-color);
}

#root.win32 ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  transition: all 0.3s;
  position: absolute !important;
  -webkit-app-region: no-drag;
}

#root.win32 ::-webkit-scrollbar:start {
  opacity: 1;
}

#root.win32 ::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

#root.win32 ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  -webkit-app-region: no-drag;
  opacity: 0;
  width: 8px;
  transition: all 0.3s;
}

#root.win32 ::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

#root.win32 ::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}

#root.win32 ::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
  height: 8px;
}

#root.win32 ::-webkit-scrollbar-button {
  display: none;
}
