html {
  --theme-color: #6186ff;
  --theme-color-05: rgba(97, 134, 255, 0.75);
  --font-color: #333;
  --font-color-title: #657795;
  --font-color-desc: rgb(42, 134, 219);
  --border-color: #dfe8f9;
  --background-color: aliceblue;
  background-color: var(--background-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-app-region: drag;
  -webkit-font-smoothing: antialiased;
  color: var(--font-color);
}

* {
  user-select: none;
}

*.button {
  transition: all 0.3s;
  cursor: pointer;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.padding {
  width: 100%;
  height: 100%;
}

span {
  display: inline-block;
}

#root {
  display: grid;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.page {
  box-sizing: border-box;
  padding: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

button,
a.button {
  -webkit-app-region: no-drag;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  border: 1px solid var(--border-color);
  color: var(--font-color);
  text-align: center;
  background: none;
  width: 100%;
  font-size: 16px;
  /* line-height: 16px; */
  padding: 8px 0;
  padding-bottom: 6px;
  font-family: 'Avenir Next', Arial, sans-serif;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  display: block;
  box-sizing: border-box;
}

button.positive {
  border-color: deepskyblue;
  background-color: deepskyblue;
  color: white;
}

a {
  text-decoration: none;
}

button:hover,
a.button:hover {
  color: white;
  background-color: var(--theme-color-05);
  border-color: transparent;
}

button:active,
a.button:active {
  background-color: black;
}

button:disabled,
a.button.disabled {
  cursor: not-allowed;
  color: var(--border-color);
  background-color: transparent;
  border-color: var(--border-color);
}

button.icon-button {
  border: none;
  width: auto;
  height: auto;
  padding: 0 4px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button.icon-button:hover {
  background-color: var(--border-color) !important;
}

button.icon-button:active {
  color: black;
}

button.menu-button {
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button.menu-button:hover {
  color: var(--theme-color);
  background-color: var(--border-color);
}

/* total width */
body::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  position: absolute;
}

/* background of the scrollbar except button or resizer */
/* body::-webkit-scrollbar-track {
  background-color: transparent;
} */

/* scrollbar itself */
/* body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #fff; */
/* } */

/* .scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
} */

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}
